MONGODB_URI=mongodb+srv://**********************************************
PORT=3000
CLIENT_URL=http://localhost:5173
CLERK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NODE_ENV=development
